#venusLogo{
    height: 180px;
}
#container{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: dodgerblue;
}
.container div {
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
body{
    /* background-color: rgb(6, 2, 23); */
}